.cards-container {
  display: flex;
  justify-content: center;
  margin: 1em;
  padding: 12em 1em -1em 1em;
}
.time-cards {
  display: flex;
  flex-flow: wrap;
  max-width: 700px;
}

.user-card {
  display: flex;
  border-radius: var(--radius);
  margin: 1em;
  background-color: var(--dark-blue);
}
.report {
  display: flex;
  margin: 1em;
  color: var(--pale-blue);
}
.report-header > h1 {
  font-weight: 100;
  display: flex;
  margin-left: 0.5em;
  margin-top: 0;
  text-align: initial;
  color: var(--white);
}

@media (max-width: 1008px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
}

@media (max-width: 773px) {
  .cards-container {
    flex-direction: column;
    justify-content: center;
  }
  .user-card {
    width: 93%;
  }
  .report {
    margin-top: 1em;
    margin-top: 40px;
    margin-bottom: 0;
  }
}
