.column {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.user {
  background-color: var(--desaturated-blue);
  border-radius: var(--radius);
  height: 75%;
}
.avatar {
  width: 50px;
  border: 3px solid var(--white);
  border-radius: 50%;
  margin: 2em;
  display: flex;
}
.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selection > ul > li {
  display: flex;
  margin: 0.5em;
  margin-left: 0;
  text-align: initial;
}
.selection > ul > li:hover {
  cursor: pointer;
}
