.column {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.user {
  background-color: var(--desaturated-blue);
  border-radius: var(--radius);
  height: 75%;
}
.avatar {
  width: 50px;
  border: 3px solid var(--white);
  border-radius: 50%;
  margin: 2em;
  display: flex;
}
.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selection > ul > li {
  display: flex;
  margin: 0.5em;
  margin-left: -1em;
  text-align: initial;
  padding-top: 10px;
}
.selection > ul > li:hover {
  cursor: pointer;
}
.selected .selected-day {
  color: var(--white);
}
.selected {
  color: var(--desaturated-blue);
}

@media (max-width: 1008px) {
  .column {
    flex-direction: row;
    width: 663px;
  }
  .user {
    height: 100%;
  }
  .report-header > h1 {
    padding-right: 1em;
  }
  .selection > ul {
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-between;
    font-size: 25px;
    font-weight: 300;
  }
  .selection > ul > li {
    margin-left: 0;
  }
}

@media (max-width: 773px) {
  .column {
    display: flex;
    flex-direction: column;
    margin: 0em;
    height: 200px;
    min-width: auto;
  }
  .user {
    display: flex;
    width: 100%;
  }
  .avatar > * {
    display: flex;
    flex-direction: column;
  }
  .selection > ul {
    flex-direction: row;
    margin-right: 1em;
    margin-top: 0;
  }
  .report-header > h1 {
    font-size: x-large;
  }
}
